export ANXCLOUD_TOKEN=''
export ANXCLOUD_KEY_SECRET=''
export ANXCLOUD_KEY_ID=''
export ANXCLOUD_LOCATION_ID='b164595577114876af7662092da89f76'
export ANXCLOUD_VLAN_ID='4744843577bd4b82bd98ae7c67a0e68f'
