name: Dependency check

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  go-mod:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go:
        - version: "1.16"
          name: target
        - version: "1.17"
          name: latest
    name: "Dependency check with ${{ matrix.go.name }} Go"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go.version }}
      - name: run depscheck
        run: make depscheck
